<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
    <div id="cabecera">
        <a id ="titulo" href="/{{ user }}/index">SMART <b>MAPS</b></a>
		<div id="perfil">
			<a class="boton" id="buttonHeader" href="/index">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile"><img src="../static/img/users/{{ user }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" /></a>
		</div>
	</div>

    <div id="cuerpo">
		<div id="imgUserBig">
            <img src="../static/img/users/{{ user }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" />
			<p id="underUser">{{ user }}</p>
		</div>

    <div id="content">
      <div id="pestañas">
        <a class=pestaña id="pestaña" href="/{{ user }}/profile">Mis Sensores</a>
        <a class=pestaña id="pestaña" href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
        <a class=pestaña id="pestañaSel">Configurar Perfil</a>
      </div>

    <form method="POST" action="/{{ user }}/configuracion" enctype=multipart/form-data>
      <div class="row" id="firstRow">
        <p id="etiqueta"> Nombre: </p>
        <input id="textbox" type="text" name="nombre" placeholder="{{ nombreUser }}">
        <p id="etiqueta"> Fecha de nacimiento: </p>
        <input id="date" type="date" name="fechaUser">
			</div>

      <div class="row">
        <p id="etiqueta"> Apellido 1: </p>
        <input id="textbox" type="text" name="ap1" placeholder="{{ apellido1User  }}">
        <p id="etiqueta"> Nick-name: </p>
        <input id="textbox" type="text" name="nick-name" placeholder="{{ nickNameUser  }}">
      </div>

      <div class="row">
        <p id="etiqueta"> Apellido 2: </p>
        <input id="textbox" type="text" name="ap2" placeholder="{{ apellido2User  }}">
        <p id="etiqueta"> Dirección: </p>
        <input id="textbox" type="text" name="direccion" placeholder="{{ direccionUser  }}">
      </div>

      <div class="row">
        <p id="etiqueta"> Empresa: </p>
        <input id="textbox" type="text" name="empresa" placeholder="{{ empresaUser  }}">
        <p id="etiqueta"> Tfno.: </p>
        <input id="textbox" type="text" name="tfno" placeholder="{{ tfnoUser  }}">
      </div>

      <div class="row">
        <p id="etiqueta"> Cambiar imagen: </p>
        <input id="textbox" type="file" accept="image/*" name="imagen">
      </div>

    </div>
  </div>
  <div id="bottom">
    <input class="boton" id="botonGuardarCambios" type="submit" value="Guardar Cambios">
  </div>
</form>

</body>

</html>
