<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->


<body>
	<div id="cabecera">
        {% if logeado %}
        <a id ="titulo" href="/{{ user }}/index">SMART <b>MAPS</b></a>
        {% else %}
        <a id ="titulo" href="/index">SMART <b>MAPS</b></a>
        {% endif %}
		<div id="perfil">
            {% if logeado %}
			<a class="boton" id="buttonHeader" href="/logout">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile"><img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';" /></a>
            {% endif %}
		</div>
	</div>

	<div id="cuerpo">
		<div id="imgUserBig">
            <img src="{{ url_for('static', filename='img/users/' + sensor['nickname']['nickname']) }}" alt="Usuario" onerror="this.src='/default_img';" />
            <p id="underUser">{{ sensor['nickname']['nickname'] }}</p>
		</div>

		<div id="content">
            {% if logeado %}
			<div id="pestañas">
				<a class=pestaña id=pestaña href="/{{ user }}/index">Mis Sensores</a>
				<a class=pestaña id=pestaña href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
				<a class=pestaña id=pestaña href="/{{ user }}/configuracion">Configurar Perfil</a>
			</div>
            {% endif %}
			
			<script>
				window.onload = function () {
				var sensor = JSON.parse('{{ sensor | tojson | safe }}');
				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					theme: "light2",
					title:{
						text: "{{ tipo[sensor['tipo']-1] }}" + " " + sensor['nombre']
					},
					axisY:{
						title: "Valor",
						includeZero: false
					},
					axisX:{
						title: "Fecha",
						includeZero: false
					},
					data: [{        
						type: "line",       
						dataPoints: [
                        { x: row[0]['fechaMedicion'], y: row[0]['valor'] },
                        { x: row[1]['fechaMedicion'], y: row[1]['valor'] },
                        { x: row[2]['fechaMedicion'], y: row[2]['valor'] },
                        { x: row[3]['fechaMedicion'], y: row[3]['valor'] },
                        { x: row[4]['fechaMedicion'], y: row[4]['valor'] }
						]
					}]
				});
				chart.render();
				
				}
			</script>
			<div class="tablaYultimasMedidas">
				<div id="chartContainer"></div>
				<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
				<div id="tablaSensores">
                    <table id="tablaMedidas">
                        <tr>
                            <th>Últimas Medidas</th>
                        </tr>
                        {% for row in rows %}
						<tr>
							<td>{{ row['valor'] }}</td>
						</tr>
                        {% endfor %}
					</table>
				</div>
			</div>
			<div id="botonesYfavoritos">
                {% if logeado %}
                <a class="boton" id="botonesbajos" href="/{{ user }}/sensor/{{ id }}/registrar_medida">Añadir Medición</a>
				<p class="boton" id="botonesbajos">Limpiar Medidas</p>
                {% endif %}
                <img class="imgInfo" id="estrella" src="{{ url_for('static', filename='../static/img/estrella.svg') }}" alt="favoritos">
                <img class="imgInfo" src="{{ url_for('static', filename='../static/img/like.svg') }}" alt="meGusta">
			</div>
		</div>
	</div>
</body>
</html>
