<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->


<body>
	<div id="cabecera">
		<a id ="titulo" href="/{{ user }}/index">SMART <b>MAPS</b></a>
		<div id="perfil">
			<a class="boton" id="buttonHeader" href="/logout">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile"><img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';" /></a>
		</div>
	</div>

	<div id="cuerpo">
		<div id="imgUserBig">
			<img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';" />
			<p id="underUser">Jhon21</p>
		</div>

		<div id="content">
			<div id="pestañas">
				<a class=pestaña id=pestaña href="/{{ user }}/index">Mis Sensores</a>
				<a class=pestaña id=pestaña href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
				<a class=pestaña id=pestaña href="/{{ user }}/configuracion">Configurar Perfil</a>
			</div>
			
			<script>
				window.onload = function () {
				var sensor = JSON.parse('{{ sensor | tojson | safe }}');
				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					theme: "light2",
					title:{
						text: "Temperatura " + sensor['nombre']
					},
					axisY:{
						title: "Temperatura (Cº)",
						includeZero: false
					},
					axisX:{
						title: "Tiempo (Horas)",
						includeZero: false
					},
					data: [{        
						type: "line",       
						dataPoints: [
							{ x: 11, y: 18 },
							{ x: 12, y: 19 },
							{ x: 13, y: 19.5 },
							{ x: 14, y: 21 },
							{ x: 15, y: 21.3, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
							{ x: 16, y: 20 },
							{ x: 17, y: 20.5 },
							{ x: 18, y: 19.8 },
							{ x: 19, y: 18 },
							{ x: 20, y: 17.5, indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" }
						]
					}]
				});
				chart.render();
				
				}
			</script>
			<div class="tablaYultimasMedidas">
				<div id="chartContainer"></div>
				<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
				<div id="tablaSensores">
					<table id="tablaMedidas">
					  <tr>
						<th>Últimas Medidas</th>
					  </tr>
						<tr>
							<td>17.5º</td>
						</tr>
						<tr>
							<td>18º</td>
						</tr>
						<tr>
							<td>19.8º</td>
						</tr>
						<tr>
							<td>20.5º</td>
						</tr>
						<tr>
							<td>20º</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="botonesYfavoritos">
                <a class="boton" id="botonesbajos" href="/sensor/{{ user }}/{{ id }}/registrar_medida">Añadir Medición</a>
				<p class="boton" id="botonesbajos">Limpiar Medidas</p>
				<img class="imgInfo" id="estrella" src="../static/img/estrella.svg" alt="favoritos">
				<img class="imgInfo" src="../static/img/like.svg" alt="me gusta">
			</div>
		</div>
	</div>
</body>
</html>
