<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Login-style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" /> {% with messages = get_flashed_messages() %} {% if messages %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/RegisterValidation.js') }}"></script>
    <script>
        alert("{{ messages[0] }}");
    </script> {% endif %} {% endwith %}
</head>

<!-- WEBPAGE'S BODY -->

<body>

    <!-- Upper action bar with button -->
    <header>
        <div id="titulo">
            <p>
                <a  href="/">SMART
                    <b>MAPS</b>
                </a>
            </p>
        </div>
    </header>


    <section>
        <span id="tituloLogin">Iniciar Sesión</span>
        <form name="myForm" method="POST" action="/login" onsubmit="retrun validateForm()">
            <p class="textoTitulo">Nick-Name:</p>
            <p>
                <input class="texto-login" name="nick-name" type="text" size="25">
            </p>
            <p class="textoTitulo">Contraseña:</p>
            <a id="recuperar" href="">recuperar</a>
            </p>
            <p>
                <input class="texto-login" name="contraseña" type="password" size="25">
            </p>
            <a href="/login">
                <input type="submit" value="Iniciar">
            </a>
            <p id="foot">¿No eres miembro?
                <a id="registrarse" href="/registrar">Registrarse ahora.</a>
            </p>
        </form>
    </section>

</body>

</html>