<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
    <link rel="stylesheet" type="text/css" href="../css/principal.css" />
    <link rel="stylesheet" type="text/css" href="../css/botones.css" />
    <link rel="stylesheet" type="text/css" href="../css/cabecera.css" />
    <link rel="icon" type="image/png" href="../img/logo.png" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
    <div id="cabecera">
        <a id="titulo" href="principalRegistrado.html">SMART <b>MAPS</b></a>
        <div id="perfil">
            <a class="boton" id="buttonHeader" href="usuario.html">Mi Perfil</a>
            <a class="boton" id="buttonHeader" href="sensores_fav.html">Sensores Favoritos</a>
            <a class="boton" id="buttonHeader" href="registrar_sensor.html">Añadir Sensor</a>
            <a class="boton" id="buttonHeader" href="configuracion_perfil.html">Configuración</a>
            <a class="boton" id="buttonHeader" href="principalSinRegistrar.html">Cerrar Sesión</a>
            <a id="imgUser" href="usuario.html"><img src="../img/user1.png" alt="user logo"></a>
        </div>
    </div>

    <div id="cuerpo">
        <div id="actionBar">
            <form action="">
                <input id="buscador" type="text" name="fname">
                <input id="ir" type="submit" value="Ir">
            </form> 
            <div class="titulosBarraLateral">
                <p>Tipo de Sensor</p>
            </div>
            <hr>
            <input type="checkbox" id="cbox" value="cbox1"><label for="cbox1">Temperatura</label><br>
            <input type="checkbox" id="cbox" value="cbox2"><label for="cbox2">Humedad</label><br>
            <input type="checkbox" id="cbox" value="cbox3"><label for="cbox3">Iluminación</label><br>
            <input type="checkbox" id="cbox" value="cbox4"><label for="cbox4">Contaminación</label><br>
            <input type="checkbox" id="cbox" value="cbox5"><label for="cbox5">Ruido</label><br>
            <div class="titulosBarraLateral">
                <p>Visibilidad</p>
            </div>
            <hr>
            <input type="checkbox" id="cbox" value="cbox6"><label for="cbox6">Mis Sensores</label><br>
            <input type="checkbox" id="cbox" value="cbox7"><label for="cbox7">Favoritos</label><br>
            <input type="checkbox" id="cbox" value="cbox8"><label for="cbox8">Todos</label><br>
            <div class="titulosBarraLateral">
                <p>Radio Acción</p>
            </div>
            <hr>
            <div>
              <p>Activar / Desactivar</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label><br>
            </div>
            <input type="range" min="1" max="100" value="50" class="slider2" id="myRange">
            <p class="boton" id="buttonFilters">Aplicar Filtros</p>
        </div>

        <div id="map">
            <script>
                var citymap = {
                    zaragoza: {
                      center: {lat: 41.647, lng: -0.890},
                      population: 271485
                    },
                    valladolid: {
                      center: {lat: 41.593, lng: -4.697},
                      population: 100000
                    },
                    madrid: {
                      center: {lat: 40.428, lng: -3.789},
                      population: 385779
                    },
                    sevilla: {
                      center: {lat: 37.399, lng: -5.938},
                      population: 603502
                    }
                };

                function initMap() {
                    // Create the map.

                    var contentString = '<p>Tipo: Temperatura</p>' +
                        '<p>Modelo: RJ-485</p>'+
                        '<p>Estado: Funcionando</p>'+
                        '<p> </p>'+
                        '<p>Ultima Medida: 24.23 C</p>' ;

                    var infowindow = new google.maps.InfoWindow({
                    content: contentString
                    });

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6.5,
                        center: {lat: 40.428, lng: -3.789}
                    });
                    
                    var valencia = {lat: 39.443, lng: -0.414};

                    var marker = new google.maps.Marker({
                        position: valencia,
                        map: map,
                        title: 'RJ-SENSOR-INFO'
                    });


                    marker.addListener('mouseover', function() {
                    infowindow.open(map, marker);
                    });


                    var flightPlanCoordinates = [
                        {lat: 37.399, lng: -5.938},
                        {lat: 39.046, lng: -1.784},
                        {lat: 40.865, lng: -2.498},
                        {lat: 41.647, lng: -0.890}
                    ];

                    var flightPath = new google.maps.Polyline({
                        path: flightPlanCoordinates,
                        geodesic: true,
                        strokeColor: '#2E9AFE',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });

                    flightPath.setMap(map);

                    // Construct the circle for each value in citymap.
                    // Note: We scale the area of the circle based on the population.
                    for (var city in citymap) {
                        var cityCircle = new google.maps.Circle({
                            // Add the circle for this city to the map.
                            strokeColor: '#2E9AFE',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#2E9AFE',
                            fillOpacity: 0.35,
                            map: map,
                            center: citymap[city].center,
                            radius: Math.sqrt(citymap[city].population) * 100
                        });
                    }
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRjO3Gm24tyvsh4gvX31esp3dFS-oyJ3g&callback=initMap" async defer></script>
        </div>
    </div>
</body>

</html>
