<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
    <div id="cabecera">
        <a id="titulo" href="/">SMART
            <b>MAPS</b>
        </a>
        <div id="perfil">
            <a class="boton" id="buttonHeader" href="/registrar">Registrarse</a>
            <a class="boton" id="buttonHeader" href="/login">Iniciar Sesión</a>
        </div>
    </div>

    <div id="cuerpo">
        <div id="actionBar">
            <form action="">
                <input id="buscador" type="text" name="fname">
                <input id="ir" type="submit" value="Ir">
            </form>
            <div class="titulosBarraLateral">
                <p>Tipo de Sensor</p>
            </div>
            <hr>
            <input type="checkbox" id="cbox" value="cbox1">
            <label for="cbox1">Temperatura</label>
            <br>
            <input type="checkbox" id="cbox" value="cbox2">
            <label for="cbox2">Humedad</label>
            <br>
            <input type="checkbox" id="cbox" value="cbox3">
            <label for="cbox3">Iluminación</label>
            <br>
            <input type="checkbox" id="cbox" value="cbox4">
            <label for="cbox4">Contaminación</label>
            <br>
            <input type="checkbox" id="cbox" value="cbox5">
            <label for="cbox5">Ruido</label>
            <br>
            <div class="titulosBarraLateral">
                <p>Radio Acción</p>
            </div>
            <hr>
            <div>
                <p>Activar / Desactivar</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <br>
            </div>
            <input type="range" min="1" max="100" value="50" class="slider3" id="myRange">
            <p class="boton" id="buttonFilters">Aplicar Filtros</p>
        </div>

        <div id="map">
            <script>
                function initMap() {
                    // Create the map.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6.5,
                        center: { lat: 40.428, lng: -3.789 }
                    });

                    var sensores = JSON.parse('{{ sensores | tojson | safe }}');
                    for (var i = 0; i < sensores.length; i++) {
                        let contentString = '<p>Tipo: ' + sensores[i]['tipo'] + '</p>' +
                            '<p>Modelo: ' + sensores[i]['nombre'] + '</p>' +
                            '<p>Dueño: ' + sensores[i]['nickname'] + '</p>' +
                            '<p> </p>' +
                            '<p>Descripción: ' + sensores[i]['descripcion'] + '</p>'

                        let infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        let aux = new google.maps.Marker({
                            position: { lat: sensores[i]['x'], lng: sensores[i]['y'] },
                            map: map,
                            title: sensores[i]['nombre']
                        });
                        aux.addListener('mouseover', function () {
                            infowindow.open(map, aux);
                        });
                        aux.addListener('mouseout', function () {
                            infowindow.close(map, aux);
                        });
                    }

                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRjO3Gm24tyvsh4gvX31esp3dFS-oyJ3g&callback=initMap" async
                defer></script>
        </div>
</body>

</html>