<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

  <!-- Page's title -->
  <title>Smart Maps</title>

  <!-- Character ccodifcation -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8" />

  <!-- Links to necessary files to run the webpage -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registrarSensor.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/SensorValidation.js') }}"></script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
    {% endif %}
{% endwith %}
</head>

<!-- WEBPAGE'S BODY -->

<body>
    <div id="cabecera">
        <a id="titulo" href="/{{ user }}/index">SMART
            <b>MAPS</b>
        </a>
        <div id="perfil">
            <a class="boton" id="buttonHeader" href="/{{ user }}/profile">Mi Perfil</a>
            <a class="boton" id="buttonHeader" href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
            <a class="boton" id="buttonHeader" href="/{{ user }}/registrar_sensor">Añadir Sensor</a>
            <a class="boton" id="buttonHeader" href="/{{ user }}/configuracion">Configuración</a>
            <a class="boton" id="buttonHeader" href="/logout">Cerrar Sesión</a>
            <a id="imgUser" href="/{{ user }}/profile">
                <img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';">
            </a>
        </div>
    </div>

    <form name = "myForm" method='POST' action='/{{user}}/registrar_sensor' onsubmit="return validateSensor()">
    <div id="cuerpo">
        <div id="imgUserBig">
            <img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';">
            <p id="underUser">{{ user }}</p>
            <p class="texto3">Nombre sensor:</p>
            <p id="underUser">
                <input type="text" name="nombre" size="11" placeholder="Nombre sensor" value = "">
            </p>
        </div>

        <div id="content">
            <div id='formularioPrincipal'>
                    <div class="row, primera">
                        <p>Descripción</p>
                        <p>
                            <textarea name="descripcion" rows="10" cols="33" placeholder="Breve descripción del sensor. Ej.: funcionamiento, características, tipos de medidas, etc."></textarea>
                        </p>
                        <div id="tipo-visibilidad">
                            <div class="row, primera">
                                <p>Tipo de Sensor</p>
                                <select name="rating">
                                    <option selected>Temperatura</option>
                                    <option>Humedad</option>
                                    <option>Iluminación</option>
                                    <option>Contaminación</option>
                                    <option>Ruido</option>
                                </select>
                            </div>
                            <div class="row">
                                <p>Visibilidad</p>
                                <p>
                                    <input name="visibilidad" type="radio" value="1" checked>
                                    <span class="textoVisibiliad">Público</span>
                                </p>
                                <p>
                                    <input name="visibilidad" type="radio" value="0">
                                    <span class="textoVisibiliad">Privado</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Localización</p>
                        <img id="imgMapa" src="../static/img/mapa.jpg" alt="mapa"/>
                        <p class="texto3">Coordenadas (longitud):</p>
                        <p><input id="inputCoordenadas" type="number" min = "-90"  max = "90" step = "any" name="lat" size="20" placeholder="Introducir latitud" value=""></p>
                        <p class="texto3">Coordenadas (latitud)</p>
                        <p><input id="inputCoordenadas" type="number" min = "-180"  max = "180" step = "any" name="long" size="20" placeholder="Introducir longitud" value="" ></p>
                    </div>
            </div>
        </div>
    </div>

    <div id="bottom">
      <p id="botonGuardarCambios">
        <input class="boton" type="submit" value="Registrar Sensor">
      </p>
    </div>
    </form>
</body>

</html>
