<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
	<div id="cabecera">
		<a id ="titulo" href="/{{ user }}/index">SMART <b>MAPS</b></a>
		<div id="perfil">
			<a class="boton" id="buttonHeader" href="/logout">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile"><img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" /></a>
		</div>
	</div>

	<div id="cuerpo">
		<div id="imgUserBig">
            <img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" />
            <p id="underUser">{{ user }}</p>
		</div>

		<div id="content">
			<div id="pestañas">
				<a class=pestaña id=pestaña href="/{{ user }}/profile">Mis Sensores</a>
				<a class=pestaña id=pestañaSel>Sensores Favoritos</a>
				<a class=pestaña id=pestaña href="/{{ user }}/configuracion">Configurar Perfil</a>
			</div>
			<div id="opciones">
				<a class="boton" id="botonAñadir" href="/{{ user }}/registrar_sensor">+</a>
				<p id="textoAñadir">Añadir Sensor Favorito</p>
				<input id="buscador" type="text" placeholder="Buscar sensor...">
			</div>
			<div id="tablaSensores">
				<table id="tabla">
				  <tr>
				    <th>Sensor</th>
				    <th>Estado</th>
				    <th>Tiempo de funcionamiento</th>
            <th>Dueño</th>
				    <th>Eliminar</th>
				  </tr>
				  <tr>
				    <td id="nombreSensor"><a href="info_sensor.html">Temperatura - RF875</a></td>
				    <td>Funcionando</td>
				    <td>2 horas</td>
            <td>Rahim_</td>
				    <td>
              <div class="boton" id="botonEliminar">-</div>
            </td>
				  </tr>
				  <tr>
				    <td id="nombreSensor"><a href="info_sensor.html">Humedad - KW965</a></td>
				    <td>Fallo</td>
				    <td>3 días</td>
            <td>Ju4nillo</td>
            <td>
              <div class="boton" id="botonEliminar">-</div>
            </td>
				  </tr>
				  <tr>
				    <td id="nombreSensor"><a href="info_sensor.html">Iluminación - BF852</a></td>
				    <td>Funcionando</td>
				    <td>5.8 horas</td>
            <td>AytoVLL</td>
            <td>
              <div class="boton" id="botonEliminar">-</div>
            </td>
				  </tr>
				  <tr>
				    <td id="nombreSensor"><a href="info_sensor.html">Contaminación - PA785</a></td>
				    <td>Funcionando</td>
				    <td>3 minutos</td>
            <td>AytoVLL</td>
            <td>
              <div class="boton" id="botonEliminar">-</div>
            </td>
				  </tr>
				  <tr>
				    <td id="nombreSensor"><a href="info_sensor.html">Acústico - NS090</a></td>
				    <td>Reparación</td>
				    <td>1 Año 3 días</td>
            <td>Yaiza</td>
            <td>
              <div class="boton" id="botonEliminar">-</div>
            </td>
				  </tr>

				</table>
			</div>
		</div>
	</div>
</body>
</html>
