<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

    <!-- Page's title -->
    <title>Smart Maps</title>

    <!-- Character ccodifcation -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />

    <!-- Links to necessary files to run the webpage -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
	<div id="cabecera">
		<a id ="titulo" href="/{{ user }}/index">SMART <b>MAPS</b></a>
		<div id="perfil">
			<a class="boton" id="buttonHeader" href="/index">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile"><img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" /></a>
		</div>
	</div>

	<div id="cuerpo">
		<div id="imgUserBig">
			<img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='../static/img/users/default.png';" />
			<p id="underUser">{{user}}</p>
		</div>

		<div id="content">
			<div id="pestañas">
				<a class=pestaña id=pestañaSel>Mis Sensores</a>
				<a class=pestaña id=pestaña href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
				<a class=pestaña id=pestaña href="/{{ user }}/configuracion">Configurar Perfil</a>
			</div>
			<div id="opciones">
				<a class="boton" href="/{{ user }}/registrar_sensor" id="botonAñadir">+</a>
				<p id="textoAñadir">Añadir Sensor</p>
				<input id="buscador" type="text" placeholder="Buscar sensor...">
			</div>
			<div id="tablaSensores">
				<table id="tabla">
				  <tr>
				    <th>Sensor</th>
				    <th>Estado</th>
				    <th>Tiempo de funcionamiento</th>
				    <th>Eliminar</th>
				  </tr>
                  {% for row in rows %}
				  <tr>
				    <td id="nombreSensor"><a href="/sensor/{{ row['id'] }}">{{ row['nombre'] }}</a></td>
				    <td>Funcionando</td>
				    <td>2 horas</td>
                    <td>
                      <div class="boton" id="botonEliminar">-</div>
                    </td>
				  </tr>
                  {% end for %}
				</table>
			</div>
		</div>
	</div>
</body>
</html>
