<!DOCTYPE html>
<html>
<!-- WEBPAGE'S HEAD -->

<head>

	<!-- Page's title -->
	<title>Smart Maps</title>

	<!-- Character ccodifcation -->
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8" />

	<!-- Links to necessary files to run the webpage -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecera.css') }}" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
</head>

<!-- WEBPAGE'S BODY -->

<body>
	<div id="cabecera">
		<a id="titulo" href="/{{ user }}/index">SMART
			<b>MAPS</b>
		</a>
		<div id="perfil">
			<a class="boton" id="buttonHeader" href="/logout">Cerrar Sesión</a>
			<a id="imgUser" href="/{{ user }}/profile">
				<img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';" />
			</a>
		</div>
	</div>

	<div id="cuerpo">
		<div id="imgUserBig">
			<img src="{{ url_for('static', filename='img/users/' + user) }}" alt="Usuario" onerror="this.src='/default_img';" />
			<p id="underUser">{{ user }}</p>
		</div>

		<div id="content">
			<div id="pestañas">
				<a class=pestaña id=pestañaSel>Mis Sensores</a>
				<a class=pestaña id=pestaña href="/{{ user }}/sensores_favoritos">Sensores Favoritos</a>
				<a class=pestaña id=pestaña href="/{{ user }}/configuracion">Configurar Perfil</a>
			</div>
			<div id="opciones">
				<a class="boton" id="botonAñadir" href="/{{ user }}/registrar_sensor">+</a>
				<p id="textoAñadir">Añadir Sensor</p>
                <form id='formularioBusqueda' action="/{{ user }}/profile" method="POST">
                    <p id='pBuscador'>Filtro Búsqueda:
                        <select name="campo">
                            <option selected value='tipo'>Tipo</option>
                            <option value='nombre'>Nombre</option>
                            <option value='id'>Id</option>
                        </select>
                        <input id="buscador" type="text" maxlength="20" placeholder="Buscar sensor..." name="sensor_buscado">
                        <input type="submit" value="¡Buscar!">
                    </p>
                </form>
			</div>
			<div id="tablaSensores">
				<table id="tabla">
					<tr>
						<th>ID</th>
						<th>Sensor</th>
						<th>Tipo</th>
						<th>Visibilidad</th>
						<th>Eliminar</th>
					</tr>
					{% for row in rows %}
					<tr>
						<td>{{ row['id'] }}</td>
						<td id="nombreSensor">
							<a href="/{{ user }}/sensor/{{ row['id'] }}">{{ row['nombre'] }}</a>
						</td>
						<td id="tipo">
							<a href="/{{ user }}/sensor/{{ row['id'] }}">{{ row['tipo'] }}</a>
						</td>
						<td id="visible">
							<a href="/{{ user }}/sensor/{{ row['id'] }}">{{ 'Público' if row['visible'] else 'Privado' }}</a>
						</td>
						<td>
							<a href="/{{ user }}/delete/{{ row['id'] }}">
                                <div class="boton" id="botonEliminar">-</div>
                            </a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>

</html>
