
a:visited {
    color:inherit;
    text-decoration: none;
   }

html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    background-image: url(../img/fondoLogin.png);
    background-attachment: scroll;
    /* background-repeat:no-repeat; */
    background-size: 100%;

}

body {
    font-weight:300;
    background-color: transparent #cccccc;
    background-size: cover; 
    overflow-x: hidden;
}

#titulo{
    width: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    text-decoration: none;
	color: black;
	cursor: pointer;
    
}

#titulo p {
    margin: 1em 1em;
    font-size: 2em;
}




/* ------------------------------------- */

body section {
    height: auto;
    width: fit-content;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50%;  
    margin-right: 10%;
    margin-top: 1%;
    padding: 4%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

/* ------------------------------------- */

/* Formato de los enlaces */
section a{
    font-family: Poppins-Regular;
    font-size: 14px;
    color:  #666666;
    transition-delay: 0.4s;
    transition-property: color;
    transition-timing-function: ease;
    cursor: pointer;
}

section a:hover{
    color:  #7db6eb;
    border-color: #7db6eb;
}

/* ------------------------------------- */

/* Texto formulario */

#tituloLogin{
    width: 100%;
    display: block;
    font-size: 2.5em;
    color:#555555;
    text-align: center;
    padding-top: 5px;
    color: #7db6eb;
    font-weight: bold;
}

.textoTitulo{
    /* font-family: Montserrat-SemiBold; */
    font-size: 2em;
    color: #555555;
    line-height: 2;
}

#foot{
    margin-top: 3em;
    font-family: Poppins-Regular;
    color: #999999;
}
/* ------------------------------------- */

/* Inputs */

input{
    border: none;
}

.texto-login{
    border: solid black 1px;
    border-radius: 10px;
    line-height: 2;
}

.texto-login:focus{
    border-color:  #7db6eb;
}

input[type=submit]{
    align-content: center;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    text-align: center;
    background-color: #7db6eb;
    color: black;
    border-color:black;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5.5em;
    padding-right: 5.5em;
    margin-left: 0.5em;
    margin-top: 2em;
    border: solid 2px rgb(85, 84, 84);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(32, 23, 23);
    cursor:pointer;
}

input[type=submit]:hover{
    background-color:white;
}

/* ------------------------------------- */
