/*USUARIO*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#cabecera{
	width: 100%;
	display: flex;
	position: fixed; /*Flotante*/
	margin: -0.5em 0em 0em -0.5em; /*Desplazamiento para quitar huecos*/
	background-color: #FFFFFF; /*Para que al hacer scroll no se vea el contenido de la página por detrás*/
	border-bottom: solid black 2px;
	justify-content: space-between; /*Título a la izquierda y bototes a la derecha*/
}

#titulo{
	font-size: 2em;
	padding-left: 2em;
	margin-top: auto;
	margin-bottom:auto;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#perfil{
	display: flex;
	padding: 0em 2em 0em 0em; /*Margen a la derecha*/
}

#perfil:hover{
	cursor:pointer;
}

#botonCerrarSesion {
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    text-align: center;
    background-color: #7db6eb;
    color: black;
    border-color:black;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 1em 2em;
    border: solid 2px rgb(85, 84, 84);
	margin-top: auto;
	margin-bottom: auto;
    margin-right: 5em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(32, 23, 23);
  }

#botonCerrarSesion:hover {
    cursor: pointer;
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    background-color:white;
    color:black;
}

#imgPipo img {
	width: 5em;
	height: 5em;
}

#cuerpo{
	padding: 8em 0; /*Padding arriba para que no se meta en la cabecera*/
	display: flex;
}

#imgPipoBig{
	width: 20%; /*20% del total horizontal de la pantalla*/
	height: 25em; /*Para que no se vaya hasta abajo si la página es larga*/
	margin: 3em;
	padding: 2em 0;
	border-radius: 2em;
	/* background-color: #7db6eb; */
  text-align: center;
}

#imgPipoBig img{
	width: 80%; /*80% del contenedor de la imagen*/
}

#underpipo {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2em;
}

#content{
  width: 80%; /*80% del total horizontal de la pantalla*/
}

#pestañas{
	display: flex;
	padding: 2em 5em;
	justify-content: space-around;
}

.pestaña, .pestaña:link, .pestaña:visited{
	font-size: 2em;
	border-bottom: 0.1em ridge black;
	text-decoration: none;
	color: black;
}

.pestaña:hover{
	cursor:pointer;
}

#pestañaSel{
	border-bottom: 0.1em ridge #7db6eb;
}

/*MIS SENSORES*/
#opciones{
  display:flex;
  justify-content: center;
}

.añadirSensor{
  font-size: 1.5em;
  cursor: pointer;
}
#botonAñadir{
  -webkit-transition-duration: 0.4s;
  background-color: #7db6eb;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(143, 141, 141);
  border: solid 2px rgb(85, 84, 84);
  cursor:pointer;
  width: 2em;
  margin: 1em 1em;
  text-align: center;
}

#botonAñadir:hover{
  background-color:white;
}

#botonAñadir:active, #botonCerrarSesion:active {
  transform:translateY(2px);
  -webkit-transition-duration: 0s;
  background-color:white;
  box-shadow: 0 0 0 black;
  transform: translateY(2px);
}

#buscador{
  border-radius: 10px;
  margin: 2em 15em;
  width: 25em;
}
#tablaSensores{
	font-size: 1.2em;
	display:flex;
	justify-content:center;
}
#tablaSensores th{
	padding:1em 6em 1em 1em;
	text-align: left;
  background-color: #7db6eb;
  color: white;
}

#tablaSensores td{
	padding:1em 1em 1em 1em;
	text-align: left;
}

#tablaSensores tr {
  background-color: white;
}

#tablaSensores tr:nth-child(odd) {background-color: #BBBBBB;}
#tablaSensores tr:hover {background-color: #888888;}

/*CONFIGURAR PERFIL*/
.row {
  display: flex;
  margin-top: 1em;
  height: 20%;
}


#firstRow {
  display: flex;
  margin-top: 3em;
  height: 20%;
}


#lastRow {
  display: flex;
  height: 20%;
}

#etiqueta {
  text-align: center;
  font-size: 1em;
  margin-left: 4em;
  width: 7em;
  text-align: left;
  font-size: 1.2em;
  /* margin-right: 5% */
}

#textbox {
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  margin-left: 1em;
  width: 25em;
  height: 2em;
  /*height: 1em;
  padding: 1em 0em 0em 1em;
  background-color: #00FF00;
  margin-top: 0.5em;
  font-size: 1.2em;*/
}

#combobox {
  margin-top: 0.5em;
  margin-left: 1em;
  width: 8em;
  height: 3em;
  border: solid;
  box-shadow: none;
  background-color: white;
  background-image: none;
  appearance: none;
}


#botonGuardarCambios {
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    text-align: center;
    background-color: #7db6eb;
    color: black;
    border-color:black;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 1em 3em;
    border: solid 2px rgb(85, 84, 84);
    margin: 0 40em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(32, 23, 23);
  }

#botonGuardarCambios:hover {
    cursor: pointer;
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    background-color:white;
    color:black;
}

/*
#cabecera{background: #00FF00;}
 #titulo{background: #FF0000;}
 #perfil{background: #FF0000;}
  #imgPipo{background: #FF00FF;}
#cuerpo{background: #0000FF;}
 #imgPipoBig{background: #00FF00;}
  #underpipo{background: #FF0000;}
 #content{background: #FF0000;}
  #pestañas{background: #00FF00;}
   .pestaña{background: #FFFF00;}
  #opciones{background: #00FFFF;}
*/
