
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

body {
    font-weight:300;
    /* background-image: url("../img/pipo.jpg"); */
    background-repeat:no-repeat;
    background-color: transparent #cccccc;
    background-size: cover; 
}

#titulo{
    width: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;

    
}

#titulo p {
    margin: 1em 1em;
    font-size: 2em;
}




/* ------------------------------------- */

body section {
    height: auto;
    width: fit-content;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50%;  
    margin-right: 20%;
    margin-top: 6%;
    padding: 4%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
}

/* ------------------------------------- */

/* Formato de los enlaces */
section a{
    font-family: Poppins-Regular;
    font-size: 14px;
    color:  #666666;
    transition-delay: 0.4s;
    transition-property: color;
    transition-timing-function: ease;
}

section a:hover{
    color:  #7db6eb;
    border-color: #7db6eb;
}

/* ------------------------------------- */

/* Texto formulario */

#tituloLogin{
    width: 100%;
    display: block;
    font-size: 30px;
    color:#555555;
    text-align: center
}

/* ------------------------------------- */

/* Inputs */

input{
    border: none;
}

.texto-login{
    border: solid black 1px;
    border-radius: 10px;
}

.texto-login:focus{
    border-color:  #7db6eb;
}



/* ------------------------------------- */