body {
    font-weight:300;
    background-image: url("../img/pipo.jpg");
    background-repeat:no-repeat;
    background-color: transparent #cccccc;
    background-size: cover; 
}

#titulo{
    width: 100%;
    float: left;

    
}

#titulo p {
    margin: 1em 1em;
    font-size: 2em;
}


body section {
    height: 50%;
    width: fit-content;
    float: center;
    min-height: 50%;
    width: 15%;  
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/* ------------------------------------- */

/* Formato de los enlaces */
section a{
    font-family: Poppins-Regular;
    font-size: 14px;
    color:  #666666;
    transition-delay: 0.4s;
    transition-property: color;
    transition-timing-function: ease;
}

section a:hover{
    color:  #7db6eb;
    border-color: #7db6eb;
}

/* ------------------------------------- */