body {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

header nav {
    display: flex;
    border-bottom: solid black 2px;
} 

#titulo{
    width: 20%;
}

#titulo p:hover {
    cursor: pointer;
}

#titulo p {
    margin: 1em 1em;
    font-size: 2em;
}

#perfil{
    margin: 0.5em 1em;
    justify-content: flex-end;
    display: flex;   
}

#perfil p:hover {
    cursor: pointer;
}

#buttonHeader1 {
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    text-align: center;
    background-color: #7db6eb;
    color: black;
    border-color:black;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 0.8em 3em;
    border: solid 2px rgb(85, 84, 84);
    margin: 1.8em 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(32, 23, 23);
  }
  
  #buttonHeader1:hover {
    cursor: pointer;
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    background-color:white;
    color:black;
  }

body section {
    height: 100%;
    float: left;
    min-height: 100%;
    width: 15%;  
    border-right: solid black 2px;
}

body section div {
    margin: 1em;
}

.titulosBarraLateral {
    margin: 1em 0 0.2em 0;
}

hr {
    margin: 0;
    margin-right: 4em;
    margin-bottom: 1em;
}

#cbox {
    margin-right: 1em;
    margin-bottom: 0.8em;
}

#buscador {
    width: 60%;
    justify-content: center;
    margin: 2em 1em;
}

body section div #ir {
    width: 15%;
    justify-content: center;
}


#map {
    width: 84.85%;
    height: 100%;
}

html, body {
    height: 94.5%;
    margin: 0;
    padding: 0;
}

body section div div {
    display: flex;
}

#actionBar div {
    display: flex;
}

.titulosBarraLateral p {
    margin-right: 1em;
    font-weight: bold;
}

.switch {
    margin-top: 0.8em;
    margin-left: 1em;
}

#buttonFilters {
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    text-align: center;
    background-color: #7db6eb;
    color: black;
    border-color:black;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 0.8em 3em;
    border: solid 2px rgb(85, 84, 84);
    margin: 1.8em 1em 1.8em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(32, 23, 23);
}
  
  #buttonFilters:hover {
    cursor: pointer;
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 0.4s;
    background-color: white;
    color:black;
}
/* ------------------------------------------------------------------ */

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.7em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0.5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* ------------------------------------------------------------- */

/* The slider itself */
.slider2 {
    -webkit-appearance: none;  
    appearance: none;
    width: 90%;
    height: 25px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s; 
}
.slider2 {
    -webkit-appearance: none;  
    appearance: none;
    width: 90%;
    height: 25px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s; 
    margin-bottom: 10%;
}
/* Mouse-over effects */
.slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(24, 117, 192); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}

.slider2::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(24, 117, 192); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}
.slider3 {
    -webkit-appearance: none;  
    appearance: none;
    width: 90%;
    height: 25px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s; 
    margin-bottom: 10%;
}
.slider3 {
    -webkit-appearance: none;  
    appearance: none;
    width: 90%;
    height: 25px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s; 
    margin-bottom: 65%;
}
/* Mouse-over effects */
.slider3:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider3::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(24, 117, 192); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}

.slider3::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(24, 117, 192); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}